django
psycopg2-binary
django-guardian
django[argon2]
django-markdownx
django_multitenant
django-admin-json-editor
django-object-actions
opencensus-ext-logging
git+git://github.com/xenatisch/opencensus-python.git#subdirectory=contrib/opencensus-ext-postgresql
gunicorn
uvicorn[standard]
django-storages[azure]
azure-core
azure-common
azure-storage-common
azure-storage-blob==12.8.0
aiohttp
asgiref
azure-servicebus
opencensus~=0.7.12
opencensus-ext-azure==1.0.5
opencensus-ext-logging==0.1.0
opencensus-ext-requests
opencensus-ext-django==0.7.4
django-redis-cache
