select {
  height: 2.5rem !important;
  border-radius: 0 !important;
  @extend .govuk-select;
}


table {
  @extend .govuk-table;
}

thead {
  @extend .govuk-table__head;
}

#changelist-filter>h2,
caption {
  background-color: #1d70b8 !important;
}


th {
  @extend .govuk-table__header;
  @extend .govuk-\!-margin-0;
  @extend .govuk-\!-padding-left-0;
  @extend .govuk-\!-padding-right-0;
}

td {
  @extend .govuk-table__cell;
  @extend .govuk-\!-margin-0;
  @extend .govuk-\!-padding-left-2;
  @extend .govuk-\!-padding-right-2;
}

tbody>tr>th {
  @extend .govuk-\!-padding-left-2;
  @extend .govuk-\!-padding-right-2;
}

td:first-child {
  @extend .govuk-\!-padding-left-0;
  @extend .govuk-\!-padding-right-0;
}



div.card.card-body.mb-3.bg-light {
  background: transparent !important;
  border-radius: 0;

  & > div {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
  }

  & .btn-group {
    justify-self: end;
    display: grid !important;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    justify-content: start;

    & > * {
      border-radius: 0;
      max-width: max-content;
    }
  }

  & > div > div[data-schemapath^=root\.] {
    display: grid;
    border-top: 1px solid #f3f2f1;
    padding-top: 1rem;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;

    .btn-group {
      justify-self: end;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 0.5rem;

      & > * {
        border-radius: 0;
      }
    }

    h3 {
      display: grid !important;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr;
      align-items: center;
      margin: 0;

      label {
        font-weight: bold !important;
        max-width: max-content;
        margin-bottom: 0 !important;
        align-self: center;
        padding-top: 0 !important;
      }
    }

    button {
      max-height: max-content;
      border-radius: 0;
    }

    div.card {
      border: none;
      display: grid;
      grid-column: 1 / -1;

      & > div > div {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1rem;
      }
    }
  }
}


.table-tag {
  background: #1d70b8;
  padding: 4px 5px;
  color: #ffffff;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
}

.govuk-checkboxes__item>input[type="checkbox"] {
  @extend .govuk-checkboxes__input;
}

.govuk-checkboxes__item>input[type="checkbox"] + label {
  @extend .govuk-label;
  @extend .govuk-checkboxes__label;
  vertical-align: -8px !important;
}

//.form-row {
//  display: flex !important;
//}