{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="theme-color" content="#000000" />
<meta name="color-scheme" content="light">
<meta name="robots" content="noindex,nofollow" />
<meta name="googlebot" content="noindex,nofollow" />
<meta name="googlebot-news" content="noindex,nosnippet,nofollow" />
<meta name="AdsBot-Google" content="noindex,nofollow" />
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
<link rel="stylesheet" type="text/css" href="{% static "css/dist/application.css" %}">
{% if not is_popup and is_nav_sidebar_enabled %}
{#<script type="text/javascript" async src="{% static "admin/js/vendor/jquery.min.js" %}"></script>#}
{#  <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">#}
{#  <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>#}
{% endif %}
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
<style>
	.current-model{
			border-left: 10px solid #d0d0d0 !important;
  }
	.textstats {
			display: flex;
			max-width: 50em;
			font-size: medium;
	}
	.textstats > dl {
			display: grid;
			grid-auto-columns: 1fr auto;
			grid-row-gap: .2rem;
			grid-column-gap: .5rem;
	}
	.textstats > dl > dt {
			grid-column: 1;
			display: block;
      margin: 0;
  }
	.textstats > dl > dd {
			grid-column: 2;
			display: block;
			margin: 0;
			min-width: 30em;
	}
</style>
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">


{% include 'admin/header.html' %}

<!-- Container -->

    {% if not is_popup %}
    <!-- Header -->
	    <div id="container">
	    {% block nav-global %}{% endblock %}
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
	    <div class="govuk-breadcrumbs">
			  <ol class="govuk-breadcrumbs__list">
			    <li class="govuk-breadcrumbs__list-item">
				    <a class="govuk-breadcrumbs__link" href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
			    </li>
			  </ol>
	    </div>
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    <div class="govuk-width-container" id="main">
      <div class="govuk-main-wrapper">
        <div class="dashboard-container">
      {% if not is_popup and is_nav_sidebar_enabled %}
        {% block nav-sidebar %}
          {% include "admin/nav_sidebar.html" %}
        {% endblock %}
      {% endif %}
{#      <div class="govuk-grid-column-three-quarters">#}
        <!-- Content -->
        <div class="main" id="content" class="{% block coltype %}colM{% endblock %}">
	        {% block messages %}
	          {% if messages %}
		          <div class="govuk-grid-row">
		          <div class="govuk-summary">
		          <div class="govuk-summary__body">
	            <ul class="govuk-list govuk-summary__list messagelist">{% for message in messages %}
	              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
	            {% endfor %}</ul>
		          </div></div></div>
	          {% endif %}
          {% endblock messages %}
          {% block pretitle %}{% endblock %}
          {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}
          {% block sidebar %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->
        {% block footer %}<div id="footer"></div>{% endblock %}
{#      </div>#}
      </div>
    </div>
    </div>
</div>
<!-- END Container -->
<script type="application/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="application/javascript" src="{% static "js/select2.min.js" %}"></script>
<script type="application/javascript">
		$(document).ready(() => {
		    $('.related-widget-wrapper select').not('[multiple]').select2({ placeholder: "---------" });
		});
		$(document).ready(() => {
		    $('.markdownx').each(function () {

				    const dataElms = $(`<div class="textstats">
	<dl>
		<dt>Estimated school grade:</dt>
		<dd><span class="school-grade"></span><dd>
		<dt>Reading (Flesch) score:</dt>
		<dd><div><span class="flesch-score"></span>&nbsp;&mdash;&nbsp;Difficulty:&nbsp;<span class="flesch-level"></span></div><dd>
	</dl>
</div>`);
				    dataElms.insertAfter(this);

				    if ( $(this).children(".markdownx-editor").text() !== "" ) {
                $.post(
                    "/textstats",
		                JSON.stringify({ payload: $(this).children(".markdownx-editor").text() }),
                ).done(function (data) {
                    dataElms.find(".school-grade").text(data.estimated_school_grade);
                    dataElms.find(".flesch-score").text(data.flesch_score);
                    dataElms.find(".flesch-level").text(data.flesch_level);
                }, "json");
            }

		    });

		    $('.markdownx-editor').change(function () {
		        const thisElm = $(this);
		        const content = thisElm.text();
		        const textstats = thisElm.parent().next(".textstats");

				    $.post("/textstats", JSON.stringify({ payload: content })).done(function (data) {
						    textstats.find(".school-grade").text(data.estimated_school_grade);
						    textstats.find(".flesch-score").text(data.flesch_score);
						    textstats.find(".flesch-level").text(data.flesch_level);
				    }, "json");
		    });
		});
</script>
</body>
</html>
